@import './bootstrap/functions';
@import './bootstrap/mixins';

$white           : ghostwhite !default;
$black           : black !default;
$blue            : #97c4ff !default;
$teal            : #b8dfe6 !default;
$purple          : #c5bbde !default;
$pink            : #fbb0be !default;
$orange          : #fdc9a4 !default;
$yellow          : #f9eaad !default;
$green           : #c3edbf !default;
$brown           : #975525 !default;

// dark theme
$bg-body-dark    : $white !default;
$bg-card-dark    : $white !default;
$txt-body-dark   : $black !default;
$faq-answer-dark : $white !default;

// light theme
$bg-body-light    : $white !default;
$bg-card-light    : $white !default;
$txt-body-light   : $black !default;
$faq-answer-light : $white !default;

$bg-header  : $blue !default;
$bg-footer  : $blue !default;
$txt-header : $black !default;
$txt-footer : $black !default;
$icon-color : $black !default;

$ff-heading : 'Berkshire Swash', cursive !default;
$ff-sans    : 'Balsamiq Sans', cursive, sans-serif !default;
$ff-serif   : serif !default;
$ff-mono    : source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace !default;

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
// scss-docs-end grid-breakpoints

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");
