@import '../../assets/variables';

.Header {
	font-family: $ff-sans;

	&-skip-nav {
		@include visually-hidden-focusable;
		-webkit-transition: top .1s ease-in, background .5s linear;
		transition: top .1s ease-in, background .5s linear;
		z-index: 1050;
		display: block;

		&:focus {
			background-color: #bf1722;
			color: white;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}
	}

	&-navbar {
		background-color: $bg-header;
	}

	.navbar-dark {
		.navbar-toggler {
			color: $txt-header;
			border-color: $txt-header;
		}

		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBzdHlsZT0iaXNvbGF0aW9uOmlzb2xhdGUiIHZpZXdCb3g9IjAgMCAzMCAzMCIgd2lkdGg9IjMwcHQiIGhlaWdodD0iMzBwdCI+PGRlZnM+PGNsaXBQYXRoIGlkPSJfY2xpcFBhdGhfSzgwUUtUUkRJWjllem42bnBDZnR0Y01HNjNZaTBZWDEiPjxyZWN0IHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNfY2xpcFBhdGhfSzgwUUtUUkRJWjllem42bnBDZnR0Y01HNjNZaTBZWDEpIj48cGF0aCBkPSIgTSA0IDcgTCAyNiA3IE0gNCAxNSBMIDI2IDE1IE0gNCAyMyBMIDI2IDIzIiBmaWxsPSJyZ2IoMCwwLDApIiB2ZWN0b3ItZWZmZWN0PSJub24tc2NhbGluZy1zdHJva2UiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlPSJyZ2IoMCwwLDApIiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIvPjwvZz48L3N2Zz4=");
		}

		.navbar-nav .nav-link {
			color: $txt-header;
			border: 1px solid transparent;
			border-radius: 5px;
			padding: 10px;
			// font-weight: bold;

			&:hover,
			&:focus {
				border: 1px solid $txt-header;
				background-color: darken( $bg-header, 15% );
				color: $txt-header;
				font-weight: 1000;
			}
		}
	}
}
